body{
  background-image: url(images/pastaBackground.jpg);
  background-size: cover;
}

.nav-link{
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-brand{
  text-decoration: none;
 font-size:2rem;
}


.meal{
  font-size:1.5rem;
  color:#000839;
}

.col-lg-3{
  text-align: center;
}

img{
  border-radius: 100px;
}

.row-1{
  margin-top:15%;
}

.row-2{
  margin-top:3rem;
}

.row-3{
  margin-top:3rem;
}

.row-4{
margin-top:3rem;
}

.row-5{
margin-top:3rem;
margin-bottom:5%;
text-align: center;
}
