body{
  background-image: url(images/randomBackground.jpg);
  background-size: cover;
}

.nav-link{
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-brand{
  text-decoration: none;
 font-size:2rem;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

.btn{
  text-align: center;
  margin:2rem auto 0 auto;
  display: block;
}

.list-container{
  margin-top:3rem;
  border : 1px solid black;
  text-align: center;
  width:50%;
  padding: 5rem 0 5rem 0;
  background-color: rgb(207, 117, 0 , 0.5);
}

.day{
  font-size: 2rem;
}

.days-list{
  list-style-type: none;
}

.day-meal{
  color:#000839;
  text-decoration: underline;
}
